# Fichiers Python compilés
*.pyc
*.pyo
__pycache__/

# Environnements virtuels
env/
venv/
*.env
.venv/

# Base de données SQLite
db.sqlite3

# Fichiers de migration (optionnel, mais souvent versionnés)
# */migrations/*.py
# !*/migrations/__init__.py

# Fichiers de configuration locaux
*.local
*.log

# Media et fichiers statiques générés
media/
staticfiles/

# IDEs / éditeurs
.vscode/
.idea/

# Fichiers secrets
*.key
*.pem

# Système
.DS_Store
Thumbs.db
